* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container_home {
  background-color: #ececec;
  position: relative;
}

.container-home-createvideogames {
  padding: 30px 0;
  display: flex;
}

.searchbar {
  display: flex;
  width: 100%;
}
.container_nav {
  background-color: rgb(225, 225, 225);
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-navbar-label-select {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.home-navbar-label-select select {
  cursor: pointer;
  text-align: center;
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
  margin: 10px 0px;
}

.home-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.home-paginado-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container-button-home {
  display: flex;
  justify-content: center;
  background-color: rgb(225, 225, 225);
}
.home_button_create {
  cursor: pointer;
  margin-bottom: 20px;
  background-color: rgb(170, 170, 170);
  letter-spacing: 2px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 500;
  transition: 0.3s ease;
}

.home_button_create:hover {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .container_nav {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .container_cards {
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 300px;
  }
}

@media (min-width: 1068px) {
  .container_cards {
    grid-template-columns: 300px 300px 300px;
  }
}
