.card-container {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 370px;
  margin: 30px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  transition: transform 0.3s ease;
}

.card-container:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.card-image {
  overflow: hidden;
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card-titulo {
}

.card-genre {
}

.card-rating {
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
}

.card-button {
  cursor: pointer;
  padding: 8px 40px;
  border: none;
  background-color: rgb(170, 170, 170);
  border-radius: 10px;
}
